html,body{
  overflow: hidden;
}
body{
    margin: 0;
    color: rgba(58, 53, 65, 0.87);
    font-family: Inter,sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.15px;
    background-color: #FFF;
}
.back-sidebar-btn{
  display: none;
}

@media(max-width: 480px){ 
  .back-sidebar-btn{
    display: block;
  }
  
  .sidebar{
    display: none;
  }

  .sidebar-mobile{
    display: block;
  }

  .sidebar-desktop{
    display: none
  }
  
}

